<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Кинофильмы</title>
    <link rel="stylesheet" href="/static/catalog_style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light">
    <div class="pt-4"></div>
    <form method="post" action="/catalog/search">
        <div class="row">
            <div class="col-lg-4 mt-3">
                <div class="input-group">
                    <label for="genre" class="input-group-text">Жанр</label>
                    <select id="genre" name="genre" class="form-control">
                        <option th:each="g : ${genres}" th:value="${g}" th:label="${g}"></option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="text-align: center;">
                    <label for="date_range">Выберите год</label>
                    <input class="date-range" type="text" id="date_range" name="date_range" readonly>
                </div>
                <div class="mt-3">
                    <div id="slider_range"></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div style="text-align: center;">
                    <button class="btn btn-lg btn-outline-primary mt-2" type="submit">Поиск</button>
                </div>
            </div>
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-lg-3" th:each="s : ${sessions}">
            <div class="card mb-4 rounded-3 shadow-sm">
                <a class="session" th:href="'/sessions/' + ${s.id} + '/'">
                    <img class="session-photo mb-3" th:attr="src=${'/img/' + s.poster}">
                    <h4 th:text="${s.name}" class="card-title pricing-card-title mx-3 text-break">Название фильма</h4>
                </a>
                <ul class="list-unstyled mt-3 mb-3 mx-3">
                    <li>Жанр: <a th:text="${s.genre}" th:href="'/catalog/genre/' + ${s.genre}"></a></li>
                    <li>Премьера: <a th:text="${s.year}" th:href="'/catalog/year/' + ${s.year}"></a></li>
                    <li>Собрано средств: <span th:text="${s.price}"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-4"></div>
</main>

<script type="text/javascript" src="/static/catalog_script.js"></script>

<hr class="clear">



</body>

</html>
