<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Режиссеры</title>

    <link rel="stylesheet" href="/static/catalog_style.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light">
    <div class="pt-4"></div>
    <div class="row mt-5">
        <div class="col-lg-3" th:each="d : ${directors}">
            <div class="card mb-4 rounded-3 shadow-sm">
                <a class="session" th:href="'/directors/' + ${d.id}">
                    <img class="session-photo mb-3" th:attr="src=${'/img/' + d.poster}">
                    <h4 th:text="${d.name}" class="card-title pricing-card-title mx-3 text-break">Имя</h4>
                </a>
                <ul class="list-unstyled mt-3 mb-3 mx-3">
                    <li>Годы жизни: <span th:text="${d.birthday}"></span> - <span th:text="${d.die}"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="pt-4"></div>
</main>

<script type="text/javascript" src="/static/catalog_script.js"></script>

<hr class="clear">



</body>

</html>
