<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/login_reg_profile_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light form-signin">
    <div style="text-align: center;">
        <div class="width">
            <form method="post" action="/login">
                <h1 class="h3 mb-3 fw-normal">Вход</h1>
                <div class="form-floating">
                    <input maxlength="20" type="text" class="form-control" id="username" name="username"
                           placeholder="Имя пользователя" required>
                    <label for="username">Имя пользователя</label>
                </div>
                <div class="form-floating mt-2">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
                    <label for="password">Пароль</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Войти</button>
            </form>
            <div class="btn-group mt-3">
                <a href="/reg" class="btn btn-primary">Регистрация</a>
            </div>
            <div th:if="${param.error}" class="col-lg-12 w-100 alert alert-primary mt-3" role="alert">
                <p>Некорректный ввод логина или пароля!</p>
            </div>
        </div>

    </div>
    <div class="pt-5"></div>
</main>

<hr class="clear">



</body>

</html>
