<!DOCTYPE HTML>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/login_reg_profile_style.css">
</head>

<head th:insert="blocks\head :: head"></head>

<body class="d-flex flex-column h-100">

<header th:insert="blocks\header :: header" class="sticky-top" role="navigation"></header>

<hr class="clear">

<main class="container flex-shrink-0 bg-light form-signin">
    <div style="text-align: center;">
        <div class="width">
            <h2>Регистрация</h2>
            <div class="row g-5">
                <div class="col-12">
                    <form class="needs-validation" method="post" action="/reg">
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="username" class="form-label">Имя пользователя</label>
                                <div class="input-group has-validation">
                                    <input type="text" class="form-control" id="username" name="username"
                                           placeholder="Имя пользователя" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="password" class="form-label">Пароль</label>
                                <div class="input-group has-validation">
                                    <input type="password" name="password" class="form-control" id="password"
                                           placeholder="Пароль" required>
                                </div>
                            </div>
                        </div>
                        <button class="w-100 my-3 btn btn-primary btn-lg" type="submit">Зарегистрироваться</button>
                    </form>
                    <div th:if="${message}" class="col-lg-12 w-100 alert alert-primary" role="alert">
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<hr class="clear">



</body>

</html>
